<nav aria-label="paginacao">
    <ul class="pagination pagination-sm justify-content-center">

        <li class="page-item">
            <a class="page-link" href="<%=link%>" tabindex="-1">Primeira</a>
        </li>

        <% if(page <= pages && page > 1) { %>
            <li class="page-item">
                <a class="page-link" href="<%=`${link}/${(page -1)}`%>">
                    <%=(page - 1)%>
                </a>
            </li>
        <% } %>

        <li class="page-item active">
            <a class="page-link"><%=page%></a>
        </li>

        <% if(pages > page) { %>
            <li class="page-item">
                <a class="page-link" href="<%=`${link}/${(page + 1)}`%>">
                    <%=(page + 1)%>
                </a>
            </li>
        <%} %>

        <li class="page-item">
            <a class="page-link" href="<%=`${link}/${pages}`%>">Última</a>
        </li>
    </ul>
</nav>