<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <style>
            dialog {
                display: none;
                position: absolute;
                background: #f1f2f3;
                font-family: sans-serif;
                width: auto;
                max-width: 400px;
                padding: 10px;
                border: 1px solid #999;
                position: fixed;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                top: 10%;
                }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="sidebar-toggle text-light mr-3">
                <span class="navbar-toggler-icon"></span>
            </a>
            <a class="navbar-brand" href="/contact/list">DaVinTi</a>
        </nav>

        <div class="container-fluid">


            <div class="content p-1">
                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <h2 class="display-4 titulo">Listar Usuários</h2>
                    </div>
                    <div class="ml-auto p2">

                        <div class="col">
                            <form id="form-search" method="get" action="/contact/find" class="d-inline-block">
                                <div class="form-row">
                                    <input id="input-name" type="text" name="name" class="form-control col-4 mr-1" placeholder="Nome">
                                    <input id="input-number" type="tel" name="number" class="form-control col-4 ml-1" placeholder="Telefone">
                                    <button type="submit" class="btn btn-outline-success btn-sm ml-1">Buscar</button>
                                </div>
                            </form>
                            <a href="/contact/register" class="d-inline-block">
                                <div class="p-2">
                                    <button class="btn btn-outline-success btn-sm">
                                        Cadastrar
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="alert-delete" class="alert alert-warning d-none" role="alert">
                    Usuário apagado com sucesso!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="d-lg-table-cell">Nome</th>
                            <th class="text-center">Telefone</th>
                            <th class="d-sm-table-cell">Data do Cadastro</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% contacts.forEach(contact => { %>
                        <tr data-identify="<%=contact.id%>">
                            <th class="text-center"><%=contact.id%></th>
                            <td class="d-lg-table-cell"><%=contact.Contato.NOME%></td>
                            <td class="text-center"><%=contact.NUMERO%></td>
                            <td class="d-sm-table-cell"><%=contact.createdAt%></td>
                            <td class="text-center">
                                <span class="d-block">
                                    <a class="btn btn-outline-danger btn-sm btn-delete" data-identify="<%=contact.id%>">Apagar</a>
                                    <a class="btn btn-outline-warning btn-sm" href="/contact/edit/<%=contact.id%>">editar</a>
                                </span>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>

                <%- include('./body-pagination'); %>
           </div>
        </div>

        <dialog id="window">
            <h3>Você desejada excluír o registro selecionado ?</h3>
            <p>Caso Sim, os dados serão apagados permanentemente!</p>
            <button id="button-no">Não</button>
            <button id="button-yes">Sim</button>
        </dialog>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

        <script>

            const dialog = document.getElementById('window');
            const buttonsDelete = document.querySelectorAll('.btn-delete');

            buttonsDelete.forEach(button => {

                $(button).click(event => {

                    let id = event.target.dataset.identify;

                    dialog.dataset.identify = id;
                    $(dialog).show();

                });

            });

            $('#button-no').click(event => {

                dialog.dataset.identify = null;
                $(dialog).hide();

            });

            $('#button-yes').click(event => {

                let id = dialog.dataset.identify;

                $.ajax({
                    type: "post",
                    url: "/contact/delete",
                    data: {
                        id
                    },
                    dataType: "json"

                }).done(response => {

                    if(response.success)
                    {
                        alert('Registro foi excluído com sucesso!');
                        removeTrElemet(id);
                        showAlertElement();
                    }
                    else
                    {
                        alert(response.message);
                    }

                }).fail(erro => {

                    alert('Ocorreu um erro durante a operação de exclusão.');
                    console.log(erro);

                });

                dialog.dataset.identify = null;
                $(dialog).hide();

            });

            function removeTrElemet(id) {

                const element = document.querySelector(`tr[data-identify="${id}"]`);
                element.remove();

            }

            function showAlertElement() {

                $('#alert-delete').removeClass('d-none');

                setTimeout(() => {

                    $('#alert-delete').addClass('d-none');

                }, 5000)

            }

        </script>

    </body>
</html>
